/* Font and Colors */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(20, 20, 20);
  background-color: rgb(230, 230, 230)
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 28px;
  color: #FB5660;
}

h2 {
  font-size: 20px;
  color: black;
}

h3 {
  font-size: 17px;
  color: black;
}

a {
  text-decoration: none;
  color: rgb(180, 180, 180);
}

a:hover {
  color: rgb(200, 200, 200);
}

/* Custom design with classes */

.section-white {
  background-color: white;
  border-radius: 4px;
  width: 700px;
  margin: 10px auto;
  padding: 50px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.img-circle {
  border-radius: 50%;
}

.btn-red {
  background-color: #FB5660;
  padding: 15px 10px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
}

.btn-red:hover {
  color: white;
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 20px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}

.padding-left {
  padding-left: 10px;
}

